/* Directivas de tailwind que insertan codigo en el archivo de css fina */

/* INicializar los elementos html para que no tengan estilos */
@tailwind base;

@tailwind components;

/* Genera el codigo de utilierias */
@tailwind utilities;

.rotate-jk {
    transform: rotate(45deg);
}

@variants hover {
    .zoom {
        transform: scale(2);
    }
}
sas
.rotate-0 {
    transform: rotate(0deg);
  }
  .rotate-90 {
    transform: rotate(90deg);
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
  .rotate-270 {
    transform: rotate(270deg);
  }