@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom {
    transform: scale(2);
}

.zoom-x2 {
    transform: scale(5);
}sss

.rotate-h {
    transform: rotate(170deg);
}

.rotate-8 {
    transform: rotate(8deg);
}

h1 {
    @apply text-3xl text-green-200 font-semibold;
}

h2 {
    @apply text-2xl text-green-400 font-semibold;
}

h3 {
    @apply text-2xl text-green-700 font-semibold;
}

.form-control {
    @apply w-full leading-snug text-gray-800 py-1 px-4 rounded border border-blue-300 bg-gray-200;
}

.form-control:hover {
    @apply bg-white;
}

.form-contro:focus {
    @apply outline-none shadow-outline;
}


.btn {
    @apply text-white rounded shadow-xl px-4 px-2 bg-green-400 mx-auto block
}

.btn:hover {
    @apply shadow-none bg-orange-400 text-white
}

.btn-primary {
    @apply bg-yellow-600
}